---
layout: page
title: Media
permalink: /media/
---

<div class="container">

{% for slide in site.data.media reversed%}
  {% if slide.type == "1_photo" and slide.Show == "TRUE" %}
    {% assign imageLoc = "/assets/images/home/" | append: slide.Location %}
    <div>
      <h3>{{ slide.title }}</h3>
      <img class="center-block" src="{{ imageLoc }}" alt="{{ slide.Alt }}}" style="height:640px;">
      <div>
        <p>{{ slide.description }}</p>
      </div>
    </div>
  {% endif %}
  {% if slide.type == "2_video" and slide.Show == "TRUE" %}
  <div>
    <h3>{{ slide.title }}</h3>
  <div class="item embed-responsive embed-responsive-16by9">
    <iframe class="embed-responsive-item" src="{{ slide.Location }}" allowfullscreen></iframe>
    <div>
      <p>{{ slide.description }}</p>
    </div>
  </div>
  </div>
  {% endif %}
{% endfor %}

</div>
