---
layout: page
title: Publications
permalink: /publications/
---

<h4><a href="https://scholar.google.com/citations?user=C5mRNycAAAAJ&hl=en" target="_blank">[Google Scholar]</a></h4>

<br/>

<div class="container">

  {% assign showpreprints = true %}
  {% for paper in site.data.publications reversed %}
  {% if paper.Type == "03_Preprint" %}
    {% if showpreprints %}
      <h4>Preprints</h4>
      {% assign showpreprints = false %}
    {% endif %}
    <ul>
      {% assign bibtexLoc = page.url | append: "bibtex/" | append: paper.Tag %}
      <li> {{ paper.Authors }}. "{{ paper.Title }}". <i> {{ paper.Publication }}. </i> {{ paper.Year }}.
        {% if paper.url %} [<a href="{{ paper.url }}" target="_blank">pdf</a>]{% endif %}
        {% if paper.bibtex %} [<a href="{{ bibtexLoc }}">bibtex</a>]{% endif %}
        {% if paper.video %} [<a href="{{ paper.video }}" target="_blank">video</a>]{% endif %}
        {% if paper.award %} <b> *{{ paper.award }} </b> {% endif %}
      </li>
    </ul>
  {% endif %}
  {% endfor %}

  <h4>Journal Papers</h4>
  <ul>
    {% for paper in site.data.publications reversed %}
      {% if paper.Type == "01_Journal" %}
        {% assign bibtexLoc = page.url | append: "bibtex/" | append: paper.Tag %}
        <li> {{ paper.Authors }}. "{{ paper.Title }}". <i> {{ paper.Publication }}. </i> {{ paper.Year }}.
          {% if paper.url %} [<a href="{{ paper.url }}" target="_blank">pdf</a>]{% endif %}
          {% if paper.bibtex %} [<a href="{{ bibtexLoc }}">bibtex</a>]{% endif %}
          {% if paper.video %} [<a href="{{ paper.video }}" target="_blank">video</a>]{% endif %}
          {% if paper.award %} <b> *{{ paper.award }} </b> {% endif %}
        </li>
      {% endif %}
    {% endfor %}
  </ul>

  <h4>Conference Papers</h4>
  <ul>
    {% for paper in site.data.publications reversed %}
      {% if paper.Type == "02_Conference" %}
        {% assign bibtexLoc = page.url | append: "bibtex/" | append: paper.Tag %}
        <li> {{ paper.Authors }}. "{{ paper.Title }}". <i> {{ paper.Publication }}. </i> {{ paper.Year }}.
          {% if paper.url %} [<a href="{{ paper.url }}" target="_blank">pdf</a>]{% endif %}
          {% if paper.bibtex %} [<a href="{{ bibtexLoc }}">bibtex</a>]{% endif %}
          {% if paper.video %} [<a href="{{ paper.video }}" target="_blank">video</a>]{% endif %}
          {% if paper.award %} <b> *{{ paper.award }} </b> {% endif %}
        </li>
      {% endif %}
    {% endfor %}
  </ul>

  <h4>Workshop and Meeting Presentations</h4>
  <ul>
    {% for paper in site.data.publications reversed %}
      {% if paper.Type == "04_Presentation" %}
      {% assign bibtexLoc = page.url | append: "bibtex/" | append: paper.Tag %}
        <li> {{ paper.Authors }}. "{{ paper.Title }}". <i> {{ paper.Publication }}. </i> {{ paper.Year }}.
          {% if paper.url %} [<a href="{{ paper.url }}" target="_blank">pdf</a>]{% endif %}
          {% if paper.bibtex %} [<a href="{{ bibtexLoc }}">bibtex</a>]{% endif %}
          {% if paper.video %} [<a href="{{ paper.video }}" target="_blank">video</a>]{% endif %}
          {% if paper.award %} <b> *{{ paper.award }} </b> {% endif %}
        </li>
      {% endif %}
    {% endfor %}
  </ul>

<!--
  <h4>Technical Reports</h4>
  <ul>
    {% for paper in site.data.publications %}
      {% if paper.Type == "03_TechReport" %}
        <li> {{ paper.Authors }} "{{ paper.Title }}". <i> {{ paper.Publication }}. </i> {{ paper.Year }}.
          {% if paper.url%}
          [<a href="{{ paper.url }}" target="_blank">text</a>{% if paper.video %}, <a href="{{ paper.video }}" target="_blank">video</a>{% endif %}]
          {% endif %}
        </li>
      {% endif %}
    {% endfor %}
  </ul>
-->

</div>
